<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zy7y.watch_server.dao.UserDao">
    <select id="findAll" resultType="User">
        select * from user
    </select>
</mapper>